.idea/
__pycache__/
abcd_download_log.csv
src/abcd_download_log.csv
src/config.ini
spreadsheets/ABCD_good_and_bad_series_table.csv
spreadsheets/image03.txt
spreadsheets/DAL_ABCD_QC_merged_pcqcinfo.csv
spreadsheets/abcd_fastqc01.txt*
temp/*/
raw/*/
data/*/
*.pyc
*.txt
*delete*
*.csv



sbatch_abcd2bids.sh
validator_latest.sif
